<% provide(:title, t('.title')) %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 ">
    <div class="login-panel panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-id-card fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= t('.title') %></div>
            <div><%= t('.desc') %></div>
          </div>
        </div>
      </div>
      <div class="panel-body ">
        <div class="col-md-7 ">
          <div class="authform">
            <%= form_for(:session, url: login_path) do |f| %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control', autofocus: true, required: true %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control', required: true %>
              </div>
              <%= f.submit t('.inputbutton'), :class => 'btn btn-lg btn-success btn-block' %>
            <% end %>
          </div>
        </div>
        <div class="col-md-5 ">
          <div class="alert alert-success">
            <%= t('.test')%>.</br>
            <button class="btn btn-success btn-block has-popover" data-html="true" data-toggle="popover" data-content="
                <dl>
                  <dt>Administrador:</dt>
                  <dd>admin@mail.com</dd>
                  <dd>admin</dd></br>
                  <dt>Soporte:</dt>
                  <dd>soporte@mail.com</dd>
                  <dd>soporte</dd></br>
                  <dt>Cliente:</dt>
                  <dd>cliente@mail.com</dd>
                  <dd>cliente</dd>
                </dl>">
              <i class="fa fa-address-card"></i>Demo
            </button>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <%= link_to '<span class="pull-left">'.html_safe+t('.signup')+'</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>'.html_safe,
        registro_path %>
      </div>
    </div>
  </div>
</div>