<h1>Soporte</h1>

<p> Hola <%= @user.name %> ,</p>

<p>
html
  Para completar la activacion de tu cuenta, visita el siguiente link:
</p>

<%= link_to "Activar cuenta", edit_account_activation_url(@user.activation_token, email: @user.email) %>