<!DOCTYPE html>
<html>
<head>
<style>
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333333
}
dt,
dd {
  line-height: 1.5;
}
dt {
  font-weight: bold;
}
.dl-horizontal dt{
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 180px;
}
</style>
</head>
<body>

<p>Bienvenido(a) <%= @ticket.user.name %> a la plataforma de soporte:</p>

<p>Hemos recibido su solicitud, estamos trabajando para responderle lo antes posible.</p>

<p>A continuación adjuntamos la información del ticket generado:</p>

<hr />

<h3>Ticket Folio #<%=@ticket.id%> - <%= @ticket.title %> </h3>
	<dl class="dl-horizontal">
    <dt>Fecha creacion</dt>	<dd><%= @ticket.created_at.strftime("%d-%m-%y %H:%M") %></dd>
		<dt>Ultima actualizacion</dt> <dd><%= @ticket.updated_at.strftime("%d-%m-%y %H:%M") %></dd>
    <dt>Estado</dt>	<dd><%= @ticket.status %></dd>
    <dt>Titulo</dt>	<dd><%= @ticket.title %></dd>
    <dt>Descripcion</dt> <dd><%= @ticket.description %></dd>
	</dl>
<hr />
<p>Si desea agregar algun comentario o información adicional a este caso, lo puede hacer en la siguiente direccion <%= link_to ticket_url(@ticket, locale: 'es') %> </p>

Agradeciendo su gentileza y lamentando la situacion presentada, le instamos a seguir confiando y prefiriendo nuestros productos.
</body>
<hr />
 <small><b> Este email es generado de manera automática, por favor NO RESPONDER</b></small>.
</html>