<%= form_for @user, html: {class: "form-horizontal"} do |f| %>

	<% if @user.errors.any? %>
		<div class="alert alert-danger">
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :name, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :name, class: "form-control", placeholder: t('.placeholdertitle'), required: true %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :company, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :company, class: "form-control", placeholder: t('.placeholdertitle'), required: true  %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :address, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :address, class: "form-control", placeholder: t('.placeholdertitle'), required: true  %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :phone, class: "col-sm-3 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :phone, class: "form-control", placeholder: t('.placeholdertitle'), required: true  %>
		</div>
	</div>
	<!-- <div class="form-group">
			<%= f.label :phone, class: "col-sm-3 control-label" %>
			<div class="col-sm-4">
				<%= f.text_field :phone, class: "form-control", placeholder: t('.placeholdertitle'), required: true  %>
			</div>

			<%= f.label :phone2, class: "col-sm-2 control-label" %>
			<div class="col-sm-4">
				<%= f.text_field :phone2, class: "form-control", placeholder: t('.optional')%>
			</div>
	</div>-->

	<div class="form-group">
		<%= f.label :email, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.email_field :email, class: "form-control", placeholder: t('.placeholdertitle'), required: true  %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :password, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.password_field :password, class: "form-control", required: true %>
		</div>
	</div>

	<div class="form-group">
			<%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
				<%= f.password_field :pasword_confirmation, class: "form-control", required: true  %>
			</div>
	</div>


	<% if is_admin %>
		<div class="form-group">
				<%= f.label :account, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select "account", options_for_select([["Support", "S"], ["Customer", "C"]] ), { }, { class: 'form-control', required: true} %>
				</div>
		</div>	
	<% end %>


	<div class="form-group actions">
		<div class="col-sm-offset-3">
				<%= f.submit yield(:button), class: "btn btn-primary" %> 
		</div>
	</div>
<% end %>
