<% content_for(:page_header) do %><%= t('.Usuarios')%><% end %>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-wrench fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge"> Personal de Soporte</div>
						<div> Seleccione un perfil para obtener más detalles </div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<table id="support" class="display table table-hover table-condensed" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Telefono</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<% @users.where(account: "S").each do |user| %>
						<tr>
							<td><%= link_to user.name, user %></td>
							<td><%= user.phone %></td>
							<td><%= user.email %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
		<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-users fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge"> Clientes</div>
						<div>  Seleccione un perfil para obtener más detalles </div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<table id="customer" class="display table table-hover table-condensed" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Compañia</th>
							<th>Direccion</th>
							<th>Telefono</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<% @users.where(account: "C").each do |user| %>
							<tr>
								<td><%= link_to user.name, user %></td>
								<td><%= user.company %></td>
								<td><%= user.address %></td>
								<td><%= user.phone %></td>
								<td><%= user.email %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<% content_for(:extra_scripts) do %>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#support').DataTable({ responsive: true });
			$('#customer').DataTable({ responsive: true });
		});
	</script>
<% end %>