<% provide(:title, t('.useradd')) %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-user-plus fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge"><%= t('.useradd') %></div>
						<div><%= t('.useradddesc') %></div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<%= render 'form' %>
				<% provide(:button, t('.useradd')) %>
			</div>
			<div class="panel-footer">
			</div>
		</div>
	</div>
</div>
