<% provide(:title, t('.showuser')) %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-id-card fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge"><%= @user.name %></div>
						<div><%= @user.email %></div>
					</div>
				</div>
			</div>
			<div class="panel-body ">
				<dl class="dl-horizontal ">
					<dt>Nombre</dt> <dd><%= @user.name %></dd>
					<dt>Compañia</dt> <dd><%= @user.company %></dd>
					<dt>Direccion:</dt> <dd><%= @user.address  %></dd>
					<dt> </dt> <dd><%= @user.address2  %></dd>
					<dt>Telefono</dt> <dd><%= @user.phone  %></dd>
					<dt> </dt> <dd><%= @user.phone2  %></dd>
					<dt>Email</dt> <dd><%= @user.email  %></dd>
					<dt>Ultimo Acceso </dt> <dd><%= @user.lastlogin.strftime("%d-%m-%y %H:%M")  %></dd>
				</dl>
			</div>
			<% if is_admin %>
				<div class="panel-footer">
					<%= link_to '<span class="pull-left">'.html_safe+t('.userupdate')+'</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>'.html_safe,
					edit_user_path(@user) %>
				</div>
			<% end %>
		</div>
	</div>
</div>





    