<% provide(:title, t('.title')) %>

<div class="jumbotron">
  <h1><%= t('.title') %></h1>

  <address>
    <strong>Nombre Compañia o Local.</strong><br>
    Direccion #1234, <br>
    Comuna, Region, Codigo Postal 123456<br>
    <abbr title="Phone">P:</abbr> </p>(+56) 12 3456 789<br>
    Nombre Responsable<br>
    <a href="mailto:#">first.last@example.com</a>
  </address>

  <address>
    <strong>Nombre Compañia o Local.</strong><br>
    Direccion #1234, <br>
    Comuna, Region, Codigo Postal 123456<br>
    <abbr title="Phone">P:</abbr> </p>(+56) 12 3456 789<br>
    Nombre Responsable<br>
    <a href="mailto:#">first.last@example.com</a>
  </address>

</div>


<div class="row"> </p>
  <div class="fa col-lg-3"> </p>
      <p class="fa fa-3x fa-glass"> </p>glass <br/>
      <p class="fa fa-3x fa-music"> </p>music <br/>
      <p class="fa fa-3x fa-search"> </p>search <br/>
      <p class="fa fa-3x fa-envelope-o"> </p>envelope-o <br/>
      <p class="fa fa-3x fa-heart"> </p>heart <br/>
      <p class="fa fa-3x fa-star"> </p>star <br/>
      <p class="fa fa-3x fa-star-o"> </p>star-o <br/>
      <p class="fa fa-3x fa-user"> </p>user <br/>
      <p class="fa fa-3x fa-film"> </p>film <br/>
      <p class="fa fa-3x fa-th-large"> </p>th-large <br/>
      <p class="fa fa-3x fa-th"> </p>th <br/>
      <p class="fa fa-3x fa-th-list"> </p>th-list <br/>
      <p class="fa fa-3x fa-check"> </p>check <br/>
      <p class="fa fa-3x fa-times"> </p>times <br/>
      <p class="fa fa-3x fa-search-plus"> </p>search-plus <br/>
      <p class="fa fa-3x fa-search-minus"> </p>search-minus <br/>
      <p class="fa fa-3x fa-power-off"> </p>power-off <br/>
      <p class="fa fa-3x fa-signal"> </p>signal <br/>
      <p class="fa fa-3x fa-gear"> </p>gear <br/>
      <p class="fa fa-3x fa-cog"> </p>cog <br/>
      <p class="fa fa-3x fa-trash-o"> </p>trash-o <br/>
      <p class="fa fa-3x fa-home"> </p>home <br/>
      <p class="fa fa-3x fa-file-o"> </p>file-o <br/>
      <p class="fa fa-3x fa-clock-o"> </p>clock-o <br/>
      <p class="fa fa-3x fa-road"> </p>road <br/>
      <p class="fa fa-3x fa-download"> </p>download <br/>
      <p class="fa fa-3x fa-arrow-circle-o-down"> </p>arrow-circle-o-down <br/>
      <p class="fa fa-3x fa-arrow-circle-o-up"> </p>arrow-circle-o-up <br/>
      <p class="fa fa-3x fa-inbox"> </p>inbox <br/>
      <p class="fa fa-3x fa-play-circle-o"> </p>play-circle-o <br/>
      <p class="fa fa-3x fa-rotate-right"> </p>rotate-right <br/>
      <p class="fa fa-3x fa-repeat"> </p>repeat <br/>
      <p class="fa fa-3x fa-refresh"> </p>refresh <br/>
      <p class="fa fa-3x fa-list-alt"> </p>list-alt <br/>
      <p class="fa fa-3x fa-lock"> </p>lock <br/>
      <p class="fa fa-3x fa-flag"> </p>flag <br/>
      <p class="fa fa-3x fa-headphones"> </p>headphones <br/>
      <p class="fa fa-3x fa-volume-off"> </p>volume-off <br/>
      <p class="fa fa-3x fa-volume-down"> </p>volume-down <br/>
      <p class="fa fa-3x fa-volume-up"> </p>volume-up <br/>
      <p class="fa fa-3x fa-qrcode"> </p>qrcode <br/>
      <p class="fa fa-3x fa-barcode"> </p>barcode <br/>
      <p class="fa fa-3x fa-tag"> </p>tag <br/>
      <p class="fa fa-3x fa-tags"> </p>tags <br/>
      <p class="fa fa-3x fa-book"> </p>book <br/>
      <p class="fa fa-3x fa-bookmark"> </p>bookmark <br/>
      <p class="fa fa-3x fa-print"> </p>print <br/>
      <p class="fa fa-3x fa-camera"> </p>camera <br/>
      <p class="fa fa-3x fa-font"> </p>font <br/>
      <p class="fa fa-3x fa-bold"> </p>bold <br/>
      <p class="fa fa-3x fa-italic"> </p>italic <br/>
      <p class="fa fa-3x fa-text-height"> </p>text-height <br/>
      <p class="fa fa-3x fa-text-width"> </p>text-width <br/>
      <p class="fa fa-3x fa-align-left"> </p>align-left <br/>
      <p class="fa fa-3x fa-align-center"> </p>align-center <br/>
      <p class="fa fa-3x fa-align-right"> </p>align-right <br/>
      <p class="fa fa-3x fa-align-justify"> </p>align-justify <br/>
      <p class="fa fa-3x fa-list"> </p>list <br/>
      <p class="fa fa-3x fa-dedent"> </p>dedent <br/>
      <p class="fa fa-3x fa-outdent"> </p>outdent <br/>
      <p class="fa fa-3x fa-indent"> </p>indent <br/>
      <p class="fa fa-3x fa-video-camera"> </p>video-camera <br/>
      <p class="fa fa-3x fa-photo"> </p>photo <br/>
      <p class="fa fa-3x fa-image"> </p>image <br/>
      <p class="fa fa-3x fa-picture-o"> </p>picture-o <br/>
      <p class="fa fa-3x fa-pencil"> </p>pencil <br/>
      <p class="fa fa-3x fa-map-marker"> </p>map-marker <br/>
      <p class="fa fa-3x fa-adjust"> </p>adjust <br/>
      <p class="fa fa-3x fa-tint"> </p>tint <br/>
      <p class="fa fa-3x fa-edit"> </p>edit <br/>
      <p class="fa fa-3x fa-pencil-square-o"> </p>pencil-square-o <br/>
      <p class="fa fa-3x fa-share-square-o"> </p>share-square-o <br/>
      <p class="fa fa-3x fa-check-square-o"> </p>check-square-o <br/>
      <p class="fa fa-3x fa-arrows"> </p>arrows <br/>
      <p class="fa fa-3x fa-step-backward"> </p>step-backward <br/>
      <p class="fa fa-3x fa-fast-backward"> </p>fast-backward <br/>
      <p class="fa fa-3x fa-backward"> </p>backward <br/>
      <p class="fa fa-3x fa-play"> </p>play <br/>
      <p class="fa fa-3x fa-pause"> </p>pause <br/>
      <p class="fa fa-3x fa-stop"> </p>stop <br/>
      <p class="fa fa-3x fa-forward"> </p>forward <br/>
      <p class="fa fa-3x fa-fast-forward"> </p>fast-forward <br/>
      <p class="fa fa-3x fa-step-forward"> </p>step-forward <br/>
      <p class="fa fa-3x fa-eject"> </p>eject <br/>
      <p class="fa fa-3x fa-chevron-left"> </p>chevron-left <br/>
      <p class="fa fa-3x fa-chevron-right"> </p>chevron-right <br/>
      <p class="fa fa-3x fa-plus-circle"> </p>plus-circle <br/>
      <p class="fa fa-3x fa-minus-circle"> </p>minus-circle <br/>
      <p class="fa fa-3x fa-times-circle"> </p>times-circle <br/>
      <p class="fa fa-3x fa-check-circle"> </p>check-circle <br/>
      <p class="fa fa-3x fa-question-circle"> </p>question-circle <br/>
      <p class="fa fa-3x fa-info-circle"> </p>info-circle <br/>
      <p class="fa fa-3x fa-crosshairs"> </p>crosshairs <br/>
      <p class="fa fa-3x fa-times-circle-o"> </p>times-circle-o <br/>
      <p class="fa fa-3x fa-check-circle-o"> </p>check-circle-o <br/>
      <p class="fa fa-3x fa-ban"> </p>ban <br/>
      <p class="fa fa-3x fa-arrow-left"> </p>arrow-left <br/>
      <p class="fa fa-3x fa-arrow-right"> </p>arrow-right <br/>
      <p class="fa fa-3x fa-arrow-up"> </p>arrow-up <br/>
      <p class="fa fa-3x fa-arrow-down"> </p>arrow-down <br/>
      <p class="fa fa-3x fa-mail-forward"> </p>mail-forward <br/>
      <p class="fa fa-3x fa-share"> </p>share <br/>
      <p class="fa fa-3x fa-expand"> </p>expand <br/>
      <p class="fa fa-3x fa-compress"> </p>compress <br/>
      <p class="fa fa-3x fa-plus"> </p>plus <br/>
      <p class="fa fa-3x fa-minus"> </p>minus <br/>
      <p class="fa fa-3x fa-asterisk"> </p>asterisk <br/>
      <p class="fa fa-3x fa-exclamation-circle"> </p>exclamation-circle <br/>
      <p class="fa fa-3x fa-gift"> </p>gift <br/>
      <p class="fa fa-3x fa-leaf"> </p>leaf <br/>
      <p class="fa fa-3x fa-fire"> </p>fire <br/>
      <p class="fa fa-3x fa-eye"> </p>eye <br/>
      <p class="fa fa-3x fa-eye-slash"> </p>eye-slash <br/>
      <p class="fa fa-3x fa-warning"> </p>warning <br/>
      <p class="fa fa-3x fa-exclamation-triangle"> </p>exclamation-triangle <br/>
      <p class="fa fa-3x fa-plane"> </p>plane <br/>
      <p class="fa fa-3x fa-calendar"> </p>calendar <br/>
      <p class="fa fa-3x fa-random"> </p>random <br/>
      <p class="fa fa-3x fa-comment"> </p>comment <br/>
      <p class="fa fa-3x fa-magnet"> </p>magnet <br/>
      <p class="fa fa-3x fa-chevron-up"> </p>chevron-up <br/>
      <p class="fa fa-3x fa-chevron-down"> </p>chevron-down <br/>
      <p class="fa fa-3x fa-retweet"> </p>retweet <br/>
      <p class="fa fa-3x fa-shopping-cart"> </p>shopping-cart <br/>
      <p class="fa fa-3x fa-folder"> </p>folder <br/>
      <p class="fa fa-3x fa-folder-open"> </p>folder-open <br/>
  </div>
  <!-- /.col-lg-6 (nested) -->
  <div class="fa col-lg-3"> </p>
      <p class="fa fa-3x fa-arrows-v"> </p>arrows-v <br/>
      <p class="fa fa-3x fa-arrows-h"> </p>arrows-h <br/>
      <p class="fa fa-3x fa-bar-chart-o"> </p>bar-chart-o <br/>
      <p class="fa fa-3x fa-twitter-square"> </p>twitter-square <br/>
      <p class="fa fa-3x fa-facebook-square"> </p>facebook-square <br/>
      <p class="fa fa-3x fa-camera-retro"> </p>camera-retro <br/>
      <p class="fa fa-3x fa-key"> </p>key <br/>
      <p class="fa fa-3x fa-gears"> </p>gears <br/>
      <p class="fa fa-3x fa-cogs"> </p>cogs <br/>
      <p class="fa fa-3x fa-comments"> </p>comments <br/>
      <p class="fa fa-3x fa-thumbs-o-up"> </p>thumbs-o-up <br/>
      <p class="fa fa-3x fa-thumbs-o-down"> </p>thumbs-o-down <br/>
      <p class="fa fa-3x fa-star-half"> </p>star-half <br/>
      <p class="fa fa-3x fa-heart-o"> </p>heart-o <br/>
      <p class="fa fa-3x fa-sign-out"> </p>sign-out <br/>
      <p class="fa fa-3x fa-linkedin-square"> </p>linkedin-square <br/>
      <p class="fa fa-3x fa-thumb-tack"> </p>thumb-tack <br/>
      <p class="fa fa-3x fa-external-link"> </p>external-link <br/>
      <p class="fa fa-3x fa-sign-in"> </p>sign-in <br/>
      <p class="fa fa-3x fa-trophy"> </p>trophy <br/>
      <p class="fa fa-3x fa-github-square"> </p>github-square <br/>
      <p class="fa fa-3x fa-upload"> </p>upload <br/>
      <p class="fa fa-3x fa-lemon-o"> </p>lemon-o <br/>
      <p class="fa fa-3x fa-phone"> </p>phone <br/>
      <p class="fa fa-3x fa-square-o"> </p>square-o <br/>
      <p class="fa fa-3x fa-bookmark-o"> </p>bookmark-o <br/>
      <p class="fa fa-3x fa-phone-square"> </p>phone-square <br/>
      <p class="fa fa-3x fa-twitter"> </p>twitter <br/>
      <p class="fa fa-3x fa-facebook"> </p>facebook <br/>
      <p class="fa fa-3x fa-github"> </p>github <br/>
      <p class="fa fa-3x fa-unlock"> </p>unlock <br/>
      <p class="fa fa-3x fa-credit-card"> </p>credit-card <br/>
      <p class="fa fa-3x fa-rss"> </p>rss <br/>
      <p class="fa fa-3x fa-hdd-o"> </p>hdd-o <br/>
      <p class="fa fa-3x fa-bullhorn"> </p>bullhorn <br/>
      <p class="fa fa-3x fa-bell"> </p>bell <br/>
      <p class="fa fa-3x fa-certificate"> </p>certificate <br/>
      <p class="fa fa-3x fa-hand-o-right"> </p>hand-o-right <br/>
      <p class="fa fa-3x fa-hand-o-left"> </p>hand-o-left <br/>
      <p class="fa fa-3x fa-hand-o-up"> </p>hand-o-up <br/>
      <p class="fa fa-3x fa-hand-o-down"> </p>hand-o-down <br/>
      <p class="fa fa-3x fa-arrow-circle-left"> </p>arrow-circle-left <br/>
      <p class="fa fa-3x fa-arrow-circle-right"> </p>arrow-circle-right <br/>
      <p class="fa fa-3x fa-arrow-circle-up"> </p>arrow-circle-up <br/>
      <p class="fa fa-3x fa-arrow-circle-down"> </p>arrow-circle-down <br/>
      <p class="fa fa-3x fa-globe"> </p>globe <br/>
      <p class="fa fa-3x fa-wrench"> </p>wrench <br/>
      <p class="fa fa-3x fa-tasks"> </p>tasks <br/>
      <p class="fa fa-3x fa-filter"> </p>filter <br/>
      <p class="fa fa-3x fa-briefcase"> </p>briefcase <br/>
      <p class="fa fa-3x fa-arrows-alt"> </p>arrows-alt <br/>
      <p class="fa fa-3x fa-group"> </p>group <br/>
      <p class="fa fa-3x fa-users"> </p>users <br/>
      <p class="fa fa-3x fa-chain"> </p>chain <br/>
      <p class="fa fa-3x fa-link"> </p>link <br/>
      <p class="fa fa-3x fa-cloud"> </p>cloud <br/>
      <p class="fa fa-3x fa-flask"> </p>flask <br/>
      <p class="fa fa-3x fa-cut"> </p>cut <br/>
      <p class="fa fa-3x fa-scissors"> </p>scissors <br/>
      <p class="fa fa-3x fa-copy"> </p>copy <br/>
      <p class="fa fa-3x fa-files-o"> </p>files-o <br/>
      <p class="fa fa-3x fa-paperclip"> </p>paperclip <br/>
      <p class="fa fa-3x fa-save"> </p>save <br/>
      <p class="fa fa-3x fa-floppy-o"> </p>floppy-o <br/>
      <p class="fa fa-3x fa-square"> </p>square <br/>
      <p class="fa fa-3x fa-navicon"> </p>navicon <br/>
      <p class="fa fa-3x fa-reorder"> </p>reorder <br/>
      <p class="fa fa-3x fa-bars"> </p>bars <br/>
      <p class="fa fa-3x fa-list-ul"> </p>list-ul <br/>
      <p class="fa fa-3x fa-list-ol"> </p>list-ol <br/>
      <p class="fa fa-3x fa-strikethrough"> </p>strikethrough <br/>
      <p class="fa fa-3x fa-underline"> </p>underline <br/>
      <p class="fa fa-3x fa-table"> </p>table <br/>
      <p class="fa fa-3x fa-magic"> </p>magic <br/>
      <p class="fa fa-3x fa-truck"> </p>truck <br/>
      <p class="fa fa-3x fa-pinterest"> </p>pinterest <br/>
      <p class="fa fa-3x fa-pinterest-square"> </p>pinterest-square <br/>
      <p class="fa fa-3x fa-google-plus-square"> </p>google-plus-square <br/>
      <p class="fa fa-3x fa-google-plus"> </p>google-plus <br/>
      <p class="fa fa-3x fa-money"> </p>money <br/>
      <p class="fa fa-3x fa-caret-down"> </p>caret-down <br/>
      <p class="fa fa-3x fa-caret-up"> </p>caret-up <br/>
      <p class="fa fa-3x fa-caret-left"> </p>caret-left <br/>
      <p class="fa fa-3x fa-caret-right"> </p>caret-right <br/>
      <p class="fa fa-3x fa-columns"> </p>columns <br/>
      <p class="fa fa-3x fa-unsorted"> </p>unsorted <br/>
      <p class="fa fa-3x fa-sort"> </p>sort <br/>
      <p class="fa fa-3x fa-sort-down"> </p>sort-down <br/>
      <p class="fa fa-3x fa-sort-desc"> </p>sort-desc <br/>
      <p class="fa fa-3x fa-sort-up"> </p>sort-up <br/>
      <p class="fa fa-3x fa-sort-asc"> </p>sort-asc <br/>
      <p class="fa fa-3x fa-envelope"> </p>envelope <br/>
      <p class="fa fa-3x fa-linkedin"> </p>linkedin <br/>
      <p class="fa fa-3x fa-rotate-left"> </p>rotate-left <br/>
      <p class="fa fa-3x fa-undo"> </p>undo <br/>
      <p class="fa fa-3x fa-legal"> </p>legal <br/>
      <p class="fa fa-3x fa-gavel"> </p>gavel <br/>
      <p class="fa fa-3x fa-dashboard"> </p>dashboard <br/>
      <p class="fa fa-3x fa-tachometer"> </p>tachometer <br/>
      <p class="fa fa-3x fa-comment-o"> </p>comment-o <br/>
      <p class="fa fa-3x fa-comments-o"> </p>comments-o <br/>
      <p class="fa fa-3x fa-flash"> </p>flash <br/>
      <p class="fa fa-3x fa-bolt"> </p>bolt <br/>
      <p class="fa fa-3x fa-sitemap"> </p>sitemap <br/>
      <p class="fa fa-3x fa-umbrella"> </p>umbrella <br/>
      <p class="fa fa-3x fa-paste"> </p>paste <br/>
      <p class="fa fa-3x fa-clipboard"> </p>clipboard <br/>
      <p class="fa fa-3x fa-lightbulb-o"> </p>lightbulb-o <br/>
      <p class="fa fa-3x fa-exchange"> </p>exchange <br/>
      <p class="fa fa-3x fa-cloud-download"> </p>cloud-download <br/>
      <p class="fa fa-3x fa-cloud-upload"> </p>cloud-upload <br/>
      <p class="fa fa-3x fa-user-md"> </p>user-md <br/>
      <p class="fa fa-3x fa-stethoscope"> </p>stethoscope <br/>
      <p class="fa fa-3x fa-suitcase"> </p>suitcase <br/>
      <p class="fa fa-3x fa-bell-o"> </p>bell-o <br/>
      <p class="fa fa-3x fa-coffee"> </p>coffee <br/>
      <p class="fa fa-3x fa-cutlery"> </p>cutlery <br/>
      <p class="fa fa-3x fa-file-text-o"> </p>file-text-o <br/>
      <p class="fa fa-3x fa-building-o"> </p>building-o <br/>
      <p class="fa fa-3x fa-hospital-o"> </p>hospital-o <br/>
      <p class="fa fa-3x fa-ambulance"> </p>ambulance <br/>
      <p class="fa fa-3x fa-medkit"> </p>medkit <br/>
      <p class="fa fa-3x fa-fighter-jet"> </p>fighter-jet <br/>
      <p class="fa fa-3x fa-beer"> </p>beer <br/>
      <p class="fa fa-3x fa-h-square"> </p>h-square <br/>
      <p class="fa fa-3x fa-plus-square"> </p>plus-square <br/>
  </div>
  <div class="fa col-lg-3"> </p>
  <p class="fa fa-3x fa-angle-double-left"> </p>angle-double-left <br/>
<p class="fa fa-3x fa-angle-double-right"> </p>angle-double-right <br/>
<p class="fa fa-3x fa-angle-double-up"> </p>angle-double-up <br/>
<p class="fa fa-3x fa-angle-double-down"> </p>angle-double-down <br/>
<p class="fa fa-3x fa-angle-left"> </p>angle-left <br/>
<p class="fa fa-3x fa-angle-right"> </p>angle-right <br/>
<p class="fa fa-3x fa-angle-up"> </p>angle-up <br/>
<p class="fa fa-3x fa-angle-down"> </p>angle-down <br/>
<p class="fa fa-3x fa-desktop"> </p>desktop <br/>
<p class="fa fa-3x fa-laptop"> </p>laptop <br/>
<p class="fa fa-3x fa-tablet"> </p>tablet <br/>
<p class="fa fa-3x fa-mobile-phone"> </p>mobile-phone <br/>
<p class="fa fa-3x fa-mobile"> </p>mobile <br/>
<p class="fa fa-3x fa-circle-o"> </p>circle-o <br/>
<p class="fa fa-3x fa-quote-left"> </p>quote-left <br/>
<p class="fa fa-3x fa-quote-right"> </p>quote-right <br/>
<p class="fa fa-3x fa-spinner"> </p>spinner <br/>
<p class="fa fa-3x fa-circle"> </p>circle <br/>
<p class="fa fa-3x fa-mail-reply"> </p>mail-reply <br/>
<p class="fa fa-3x fa-reply"> </p>reply <br/>
<p class="fa fa-3x fa-github-alt"> </p>github-alt <br/>
<p class="fa fa-3x fa-folder-o"> </p>folder-o <br/>
<p class="fa fa-3x fa-folder-open-o"> </p>folder-open-o <br/>
<p class="fa fa-3x fa-smile-o"> </p>smile-o <br/>
<p class="fa fa-3x fa-frown-o"> </p>frown-o <br/>
<p class="fa fa-3x fa-meh-o"> </p>meh-o <br/>
<p class="fa fa-3x fa-gamepad"> </p>gamepad <br/>
<p class="fa fa-3x fa-keyboard-o"> </p>keyboard-o <br/>
<p class="fa fa-3x fa-flag-o"> </p>flag-o <br/>
<p class="fa fa-3x fa-flag-checkered"> </p>flag-checkered <br/>
<p class="fa fa-3x fa-terminal"> </p>terminal <br/>
<p class="fa fa-3x fa-code"> </p>code <br/>
<p class="fa fa-3x fa-mail-reply-all"> </p>mail-reply-all <br/>
<p class="fa fa-3x fa-reply-all"> </p>reply-all <br/>
<p class="fa fa-3x fa-star-half-empty"> </p>star-half-empty <br/>
<p class="fa fa-3x fa-star-half-full"> </p>star-half-full <br/>
<p class="fa fa-3x fa-star-half-o"> </p>star-half-o <br/>
<p class="fa fa-3x fa-location-arrow"> </p>location-arrow <br/>
<p class="fa fa-3x fa-crop"> </p>crop <br/>
<p class="fa fa-3x fa-code-fork"> </p>code-fork <br/>
<p class="fa fa-3x fa-unlink"> </p>unlink <br/>
<p class="fa fa-3x fa-chain-broken"> </p>chain-broken <br/>
<p class="fa fa-3x fa-question"> </p>question <br/>
<p class="fa fa-3x fa-info"> </p>info <br/>
<p class="fa fa-3x fa-exclamation"> </p>exclamation <br/>
<p class="fa fa-3x fa-superscript"> </p>superscript <br/>
<p class="fa fa-3x fa-subscript"> </p>subscript <br/>
<p class="fa fa-3x fa-eraser"> </p>eraser <br/>
<p class="fa fa-3x fa-puzzle-piece"> </p>puzzle-piece <br/>
<p class="fa fa-3x fa-microphone"> </p>microphone <br/>
<p class="fa fa-3x fa-microphone-slash"> </p>microphone-slash <br/>
<p class="fa fa-3x fa-shield"> </p>shield <br/>
<p class="fa fa-3x fa-calendar-o"> </p>calendar-o <br/>
<p class="fa fa-3x fa-fire-extinguisher"> </p>fire-extinguisher <br/>
<p class="fa fa-3x fa-rocket"> </p>rocket <br/>
<p class="fa fa-3x fa-maxcdn"> </p>maxcdn <br/>
<p class="fa fa-3x fa-chevron-circle-left"> </p>chevron-circle-left <br/>
<p class="fa fa-3x fa-chevron-circle-right"> </p>chevron-circle-right <br/>
<p class="fa fa-3x fa-chevron-circle-up"> </p>chevron-circle-up <br/>
<p class="fa fa-3x fa-chevron-circle-down"> </p>chevron-circle-down <br/>
<p class="fa fa-3x fa-html5"> </p>html5 <br/>
<p class="fa fa-3x fa-css3"> </p>css3 <br/>
<p class="fa fa-3x fa-anchor"> </p>anchor <br/>
<p class="fa fa-3x fa-unlock-alt"> </p>unlock-alt <br/>
<p class="fa fa-3x fa-bullseye"> </p>bullseye <br/>
<p class="fa fa-3x fa-ellipsis-h"> </p>ellipsis-h <br/>
<p class="fa fa-3x fa-ellipsis-v"> </p>ellipsis-v <br/>
<p class="fa fa-3x fa-rss-square"> </p>rss-square <br/>
<p class="fa fa-3x fa-play-circle"> </p>play-circle <br/>
<p class="fa fa-3x fa-ticket"> </p>ticket <br/>
<p class="fa fa-3x fa-minus-square"> </p>minus-square <br/>
<p class="fa fa-3x fa-minus-square-o"> </p>minus-square-o <br/>
<p class="fa fa-3x fa-level-up"> </p>level-up <br/>
<p class="fa fa-3x fa-level-down"> </p>level-down <br/>
<p class="fa fa-3x fa-check-square"> </p>check-square <br/>
<p class="fa fa-3x fa-pencil-square"> </p>pencil-square <br/>
<p class="fa fa-3x fa-external-link-square"> </p>external-link-square <br/>
<p class="fa fa-3x fa-share-square"> </p>share-square <br/>
<p class="fa fa-3x fa-compass"> </p>compass <br/>
<p class="fa fa-3x fa-toggle-down"> </p>toggle-down <br/>
<p class="fa fa-3x fa-caret-square-o-down"> </p>caret-square-o-down <br/>
<p class="fa fa-3x fa-toggle-up"> </p>toggle-up <br/>
<p class="fa fa-3x fa-caret-square-o-up"> </p>caret-square-o-up <br/>
<p class="fa fa-3x fa-toggle-right"> </p>toggle-right <br/>
<p class="fa fa-3x fa-caret-square-o-right"> </p>caret-square-o-right <br/>
<p class="fa fa-3x fa-euro"> </p>euro <br/>
<p class="fa fa-3x fa-eur"> </p>eur <br/>
<p class="fa fa-3x fa-gbp"> </p>gbp <br/>
<p class="fa fa-3x fa-dollar"> </p>dollar <br/>
<p class="fa fa-3x fa-usd"> </p>usd <br/>
<p class="fa fa-3x fa-rupee"> </p>rupee <br/>
<p class="fa fa-3x fa-inr"> </p>inr <br/>
<p class="fa fa-3x fa-cny"> </p>cny <br/>
<p class="fa fa-3x fa-rmb"> </p>rmb <br/>
<p class="fa fa-3x fa-yen"> </p>yen <br/>
<p class="fa fa-3x fa-jpy"> </p>jpy <br/>
<p class="fa fa-3x fa-ruble"> </p>ruble <br/>
<p class="fa fa-3x fa-rouble"> </p>rouble <br/>
<p class="fa fa-3x fa-rub"> </p>rub <br/>
<p class="fa fa-3x fa-won"> </p>won <br/>
<p class="fa fa-3x fa-krw"> </p>krw <br/>
<p class="fa fa-3x fa-bitcoin"> </p>bitcoin <br/>
<p class="fa fa-3x fa-btc"> </p>btc <br/>
<p class="fa fa-3x fa-file"> </p>file <br/>
<p class="fa fa-3x fa-file-text"> </p>file-text <br/>
<p class="fa fa-3x fa-sort-alpha-asc"> </p>sort-alpha-asc <br/>
<p class="fa fa-3x fa-sort-alpha-desc"> </p>sort-alpha-desc <br/>
<p class="fa fa-3x fa-sort-amount-asc"> </p>sort-amount-asc <br/>
<p class="fa fa-3x fa-sort-amount-desc"> </p>sort-amount-desc <br/>
<p class="fa fa-3x fa-sort-numeric-asc"> </p>sort-numeric-asc <br/>
<p class="fa fa-3x fa-sort-numeric-desc"> </p>sort-numeric-desc <br/>
<p class="fa fa-3x fa-thumbs-up"> </p>thumbs-up <br/>
<p class="fa fa-3x fa-thumbs-down"> </p>thumbs-down <br/>
<p class="fa fa-3x fa-youtube-square"> </p>youtube-square <br/>
<p class="fa fa-3x fa-youtube"> </p>youtube <br/>
<p class="fa fa-3x fa-xing"> </p>xing <br/>
<p class="fa fa-3x fa-xing-square"> </p>xing-square <br/>
<p class="fa fa-3x fa-youtube-play"> </p>youtube-play <br/>
<p class="fa fa-3x fa-dropbox"> </p>dropbox <br/>
<p class="fa fa-3x fa-stack-overflow"> </p>stack-overflow <br/>
<p class="fa fa-3x fa-instagram"> </p>instagram <br/>
<p class="fa fa-3x fa-flickr"> </p>flickr <br/>
<p class="fa fa-3x fa-adn"> </p>adn <br/>
<p class="fa fa-3x fa-bitbucket"> </p>bitbucket <br/>
<p class="fa fa-3x fa-bitbucket-square"> </p>bitbucket-square <br/>
<p class="fa fa-3x fa-tumblr"> </p>tumblr <br/>
                                </div>
                                <div class="fa col-lg-3"> </p>
<p class="fa fa-3x fa-tumblr-square"> </p>tumblr-square <br/>
<p class="fa fa-3x fa-long-arrow-down"> </p>long-arrow-down <br/>
<p class="fa fa-3x fa-long-arrow-up"> </p>long-arrow-up <br/>
<p class="fa fa-3x fa-long-arrow-left"> </p>long-arrow-left <br/>
<p class="fa fa-3x fa-long-arrow-right"> </p>long-arrow-right <br/>
<p class="fa fa-3x fa-apple"> </p>apple <br/>
<p class="fa fa-3x fa-windows"> </p>windows <br/>
<p class="fa fa-3x fa-android"> </p>android <br/>
<p class="fa fa-3x fa-linux"> </p>linux <br/>
<p class="fa fa-3x fa-dribbble"> </p>dribbble <br/>
<p class="fa fa-3x fa-skype"> </p>skype <br/>
<p class="fa fa-3x fa-foursquare"> </p>foursquare <br/>
<p class="fa fa-3x fa-trello"> </p>trello <br/>
<p class="fa fa-3x fa-female"> </p>female <br/>
<p class="fa fa-3x fa-male"> </p>male <br/>
<p class="fa fa-3x fa-gittip"> </p>gittip <br/>
<p class="fa fa-3x fa-sun-o"> </p>sun-o <br/>
<p class="fa fa-3x fa-moon-o"> </p>moon-o <br/>
<p class="fa fa-3x fa-archive"> </p>archive <br/>
<p class="fa fa-3x fa-bug"> </p>bug <br/>
<p class="fa fa-3x fa-vk"> </p>vk <br/>
<p class="fa fa-3x fa-weibo"> </p>weibo <br/>
<p class="fa fa-3x fa-renren"> </p>renren <br/>
<p class="fa fa-3x fa-pagelines"> </p>pagelines <br/>
<p class="fa fa-3x fa-stack-exchange"> </p>stack-exchange <br/>
<p class="fa fa-3x fa-arrow-circle-o-right"> </p>arrow-circle-o-right <br/>
<p class="fa fa-3x fa-arrow-circle-o-left"> </p>arrow-circle-o-left <br/>
<p class="fa fa-3x fa-toggle-left"> </p>toggle-left <br/>
<p class="fa fa-3x fa-caret-square-o-left"> </p>caret-square-o-left <br/>
<p class="fa fa-3x fa-dot-circle-o"> </p>dot-circle-o <br/>
<p class="fa fa-3x fa-wheelchair"> </p>wheelchair <br/>
<p class="fa fa-3x fa-vimeo-square"> </p>vimeo-square <br/>
<p class="fa fa-3x fa-turkish-lira"> </p>turkish-lira <br/>
<p class="fa fa-3x fa-try"> </p>try <br/>
<p class="fa fa-3x fa-plus-square-o"> </p>plus-square-o <br/>
<p class="fa fa-3x fa-space-shuttle"> </p>space-shuttle <br/>
<p class="fa fa-3x fa-slack"> </p>slack <br/>
<p class="fa fa-3x fa-envelope-square"> </p>envelope-square <br/>
<p class="fa fa-3x fa-wordpress"> </p>wordpress <br/>
<p class="fa fa-3x fa-openid"> </p>openid <br/>
<p class="fa fa-3x fa-institution"> </p>institution <br/>
<p class="fa fa-3x fa-bank"> </p>bank <br/>
<p class="fa fa-3x fa-university"> </p>university <br/>
<p class="fa fa-3x fa-mortar-board"> </p>mortar-board <br/>
<p class="fa fa-3x fa-graduation-cap"> </p>graduation-cap <br/>
<p class="fa fa-3x fa-yahoo"> </p>yahoo <br/>
<p class="fa fa-3x fa-google"> </p>google <br/>
<p class="fa fa-3x fa-reddit"> </p>reddit <br/>
<p class="fa fa-3x fa-reddit-square"> </p>reddit-square <br/>
<p class="fa fa-3x fa-stumbleupon-circle"> </p>stumbleupon-circle <br/>
<p class="fa fa-3x fa-stumbleupon"> </p>stumbleupon <br/>
<p class="fa fa-3x fa-delicious"> </p>delicious <br/>
<p class="fa fa-3x fa-digg"> </p>digg <br/>
<p class="fa fa-3x fa-pied-piper-square"> </p>pied-piper-square <br/>
<p class="fa fa-3x fa-pied-piper"> </p>pied-piper <br/>
<p class="fa fa-3x fa-pied-piper-alt"> </p>pied-piper-alt <br/>
<p class="fa fa-3x fa-drupal"> </p>drupal <br/>
<p class="fa fa-3x fa-joomla"> </p>joomla <br/>
<p class="fa fa-3x fa-language"> </p>language <br/>
<p class="fa fa-3x fa-fax"> </p>fax <br/>
<p class="fa fa-3x fa-building"> </p>building <br/>
<p class="fa fa-3x fa-child"> </p>child <br/>
<p class="fa fa-3x fa-paw"> </p>paw <br/>
<p class="fa fa-3x fa-spoon"> </p>spoon <br/>
<p class="fa fa-3x fa-cube"> </p>cube <br/>
<p class="fa fa-3x fa-cubes"> </p>cubes <br/>
<p class="fa fa-3x fa-behance"> </p>behance <br/>
<p class="fa fa-3x fa-behance-square"> </p>behance-square <br/>
<p class="fa fa-3x fa-steam"> </p>steam <br/>
<p class="fa fa-3x fa-steam-square"> </p>steam-square <br/>
<p class="fa fa-3x fa-recycle"> </p>recycle <br/>
<p class="fa fa-3x fa-automobile"> </p>automobile <br/>
<p class="fa fa-3x fa-car"> </p>car <br/>
<p class="fa fa-3x fa-cab"> </p>cab <br/>
<p class="fa fa-3x fa-taxi"> </p>taxi <br/>
<p class="fa fa-3x fa-tree"> </p>tree <br/>
<p class="fa fa-3x fa-spotify"> </p>spotify <br/>
<p class="fa fa-3x fa-deviantart"> </p>deviantart <br/>
<p class="fa fa-3x fa-soundcloud"> </p>soundcloud <br/>
<p class="fa fa-3x fa-database"> </p>database <br/>
<p class="fa fa-3x fa-file-pdf-o"> </p>file-pdf-o <br/>
<p class="fa fa-3x fa-file-word-o"> </p>file-word-o <br/>
<p class="fa fa-3x fa-file-excel-o"> </p>file-excel-o <br/>
<p class="fa fa-3x fa-file-powerpoint-o"> </p>file-powerpoint-o <br/>
<p class="fa fa-3x fa-file-photo-o"> </p>file-photo-o <br/>
<p class="fa fa-3x fa-file-picture-o"> </p>file-picture-o <br/>
<p class="fa fa-3x fa-file-image-o"> </p>file-image-o <br/>
<p class="fa fa-3x fa-file-zip-o"> </p>file-zip-o <br/>
<p class="fa fa-3x fa-file-archive-o"> </p>file-archive-o <br/>
<p class="fa fa-3x fa-file-sound-o"> </p>file-sound-o <br/>
<p class="fa fa-3x fa-file-audio-o"> </p>file-audio-o <br/>
<p class="fa fa-3x fa-file-movie-o"> </p>file-movie-o <br/>
<p class="fa fa-3x fa-file-video-o"> </p>file-video-o <br/>
<p class="fa fa-3x fa-file-code-o"> </p>file-code-o <br/>
<p class="fa fa-3x fa-vine"> </p>vine <br/>
<p class="fa fa-3x fa-codepen"> </p>codepen <br/>
<p class="fa fa-3x fa-jsfiddle"> </p>jsfiddle <br/>
<p class="fa fa-3x fa-life-bouy"> </p>life-bouy <br/>
<p class="fa fa-3x fa-life-saver"> </p>life-saver <br/>
<p class="fa fa-3x fa-support"> </p>support <br/>
<p class="fa fa-3x fa-life-ring"> </p>life-ring <br/>
<p class="fa fa-3x fa-circle-o-notch"> </p>circle-o-notch <br/>
<p class="fa fa-3x fa-ra"> </p>ra <br/>
<p class="fa fa-3x fa-rebel"> </p>rebel <br/>
<p class="fa fa-3x fa-ge"> </p>ge <br/>
<p class="fa fa-3x fa-empire"> </p>empire <br/>
<p class="fa fa-3x fa-git-square"> </p>git-square <br/>
<p class="fa fa-3x fa-git"> </p>git <br/>
<p class="fa fa-3x fa-hacker-news"> </p>hacker-news <br/>
<p class="fa fa-3x fa-tencent-weibo"> </p>tencent-weibo <br/>
<p class="fa fa-3x fa-qq"> </p>qq <br/>
<p class="fa fa-3x fa-wechat"> </p>wechat <br/>
<p class="fa fa-3x fa-weixin"> </p>weixin <br/>
<p class="fa fa-3x fa-send"> </p>send <br/>
<p class="fa fa-3x fa-paper-plane"> </p>paper-plane <br/>
<p class="fa fa-3x fa-send-o"> </p>send-o <br/>
<p class="fa fa-3x fa-paper-plane-o"> </p>paper-plane-o <br/>
<p class="fa fa-3x fa-history"> </p>history <br/>
<p class="fa fa-3x fa-circle-thin"> </p>circle-thin <br/>
<p class="fa fa-3x fa-header"> </p>header <br/>
<p class="fa fa-3x fa-paragraph"> </p>paragraph <br/>
<p class="fa fa-3x fa-sliders"> </p>sliders <br/>
<p class="fa fa-3x fa-share-alt"> </p>share-alt <br/>
<p class="fa fa-3x fa-share-alt-square"> </p>share-alt-square <br/>
<p class="fa fa-3x fa-bomb"> </p>bomb <br/>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->