<% provide(:title, 'Inicio') %>
<div class="jumbotron">
	<h1><%= t('.welcome')%></h1>
	<div class="center">
		<%= link_to t('.loginbutton'), login_path, class: "btn btn-lg btn-primary" %>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3 class="midrow"><%= t('.item1_title')%></h3>
		<h2 class="left"> <%=t('.item1_desc')%></h2>
		<p><%= link_to t('.item_readbutton'), "", class: "btn btn-sm btn-primary" %></p>
	</div>
	<div class="col-md-4">
		<h3 class="midrow"><%= t('.item1_title')%></h3>
		<h2 class="left"><%= t('.item1_desc')%></h2>
		<p><%= link_to t('.item_readbutton'), "", class: "btn btn-sm btn-primary" %></p>
	</div>
	<div class="col-md-4">
		<h3 class="midrow"><%= t('.item1_title')%></h3>
		<h2 class="left"><%= t('.item1_desc')%>.</h2>
		<p><%= link_to t('.item_readbutton'), "", class: "btn btn-sm btn-primary" %></p>
	</div>
</div>
