<% provide(:title, 'Panel de Soporte') %>
<h1>Panel de Soporte</h1>


<div class="panel panel-default">
  <div class="panel-heading">Tickets en Espera de ser Respondidos</div>

  <table class="table table-hover table-condensed">
    <thead>
    	<tr>
	    	<th>Folio</th>
	      <th>Titulo</th>
	      <th>Cliente</th>
	      <th>Fecha Ingreso</th>
	      <th>Fecha Actualizacion</th>
	      <th>Prioridad</th>
	      <th>Estado</th>
	    </tr>
  	</thead>
  	<tbody>

  	</tbody>
  </table>
</div>