<%= form_for @ticket, html: {class: "form-horizontal"} do |f| %>
	<% if is_admin || is_support %>

		<div class="form-group ">
			<%= f.label t('.inputuser'), class: "col-sm-2 control-label" %>
			<div class="col-sm-6">
				<span id="helpBlock2" class="help-block">Seleccione el cliente para el cual se está creando este ticket.</span>
				<%= f.select :user_id, options_for_select(@customers.map{ |c| [c.name+" <"+c.email+">", c.id] }),{}, { class: "form-control" } %>
			</div>
		</div>
	<% end %>
 
 
  <div class="form-group">
    <%= f.label t('.inputtitle'), class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      	<%= f.text_field :title, class: "form-control", placeholder: t('.placeholdertitle') %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label t('.inputdesc'), class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :description, class: "form-control", size: "3", placeholder: t('.placeholderdesc')  %>
    </div>
  </div>
	
	<%= f.submit t('.inputbutton'), class: "btn btn-success col-md-offset-2" %>
<% end %>