<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Tickets sin responder:</h3>
	</div>
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th style="width: 8%">Folio</th>
				<% if !is_customer %>
				<th style="width: 15%">Usuario</th>
				<% end %>
				<th style="width: 18%">Titulo</th>
				<th style="width: 25%">Descripcion</th>
				<th style="width: 12%">Creado</th>
				<th style="width: 12%">Actualizado</th>
				<th style="width: 10%">Estado</th>
			</tr>
		</thead>
		<tbody>
			<% @tickets.where(status: "En Espera").each do |ticket| %>
			<tr>
				<td><%=link_to ticket.id, ticket %></td>
				<% if !is_customer %>
				<td><%= ticket.user.name %></td>
				<% end %>
				<td><%= ticket.title %></td>
				<td><%= ticket.description.truncate(35)%></td>
				<td><%= ticket.created_at.strftime("%d-%m-%y %H:%M") %></td>
				<td><%= ticket.updated_at.strftime("%d-%m-%y %H:%M") %></td>
				<td><%= ticket.status %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>