<% content_for(:page_header) do %><%= t('.adminpage')%><% end %>
<% content_for :panel_heading do %>Content<% end %>

<p id="notice"><%= notice %></p>
<%# render 'ticketpending' %>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-support fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge"> Tickets Respondidos</div>
						<div> asd </div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<table id="tickets" class="display table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Folio</th>
							<th>Usuario</th>
							<th>Tecnico</th>
							<th>Titulo</th>
							<th>Creado</th>
							<th>Actualizado</th>
						</tr>
					</thead>
					<tbody>
						<% if @tickets %>
							<% @tickets.where.not(status: "En Espera").each do |ticket| %>
							<tr>
								<td><%=link_to ticket.id, ticket %></td>
								<td><%= ticket.user.name %></td>
								<td><%= @support.find_by(id: ticket.support).name %></td>
								<td><%= ticket.title %></td>
								<td><%= ticket.created_at.strftime("%d-%m-%y %H:%M") %></td>
								<td><%= ticket.updated_at.strftime("%d-%m-%y %H:%M") %></td>
							</tr>
							<% end %>
						<%else %>
							"sin tickets"
						<%end%>
					</tbody>
				</table>
			</div>
			<div class="panel-footer">
			</div>
		</div>
	</div>
</div>

<% content_for(:extra_scripts) do %>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#tickets').DataTable({ responsive: true });
		});
	</script>
<% end %>