<% provide(:title, ' registro ') %>

<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
						<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-support fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
										<div class="huge"><%= t('.title') %></div>
										<div>asd</div>
								</div>
						</div>
				</div>
				<div class="panel-body">
					<%= render 'form' %>
				</div>
				<div class="panel-footer">
				</div>
			</div>
		</div>
</div>
