<% content_for(:page_header) do %><%= t('.showticket')%><% end %>
<% content_for :panel_heading do %>showticket<% end %>

<p id="notice"><%= notice %></p>

<div class="panel panel-default ">
	<div class="panel-heading">
		<h3 class="panel-title ">Ticket Folio #<%=@ticket.id%> </h3>
			<% if is_support || is_admin || is_customer %>
				<% if @ticket.status == "En Espera" %>
				  <%= form_for @ticket do |t| %>
				    <%= t.hidden_field :status, :value => "En Proceso"%>
				    <%= t.hidden_field :support, :value => current_user.id %>
				    <%= t.submit "Aceptar Ticket", class: "btn btn-xs btn-success" %>
				  <% end %>
				<% end %>

				<% if @ticket.status == "Cerrado" %>
				  <%= form_for @ticket do |t| %>
				    <%= t.hidden_field :status, :value=>"En Proceso"%>
				    <%= t.hidden_field :support, :value => current_user.id %>
				    <%= t.submit "Reabrir Ticket", class: "btn btn-xs btn-info" %>
				  <% end %>
				<% end %>

				<% if @ticket.status != "Cerrado" %>
			  	<%= form_for @ticket do |t| %>
					  <%= t.hidden_field :status, :value=>"Cerrado"%>
					  <%= t.submit "Cerrar Ticket", class: "btn btn-xs btn-danger" %>
					<% end %>
				<% end %>

				<% if @ticket.status == "En Espera" %>
					<%= link_to "Editar Ticket", edit_ticket_path(@ticket), class: "btn btn-xs btn-primary" %>
				<% end %>
			<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-list-alt fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">Ticket</div>
						<div>Folio #<%= @ticket.id %></div>
					</div>
				</div>
			</div>
			<div class="panel-body ">
					<dl class="dl-horizontal ">
					  <dt>Soporte</dt>	<dd><%= @support.find_by(id: @ticket.support).name if @ticket.support %></dd>
						<dt>Fecha creacion</dt>	<dd><%= @ticket.created_at.strftime("%d-%m-%y %H:%M") %></dd>
						<dt>Ultima actualizacion</dt>	<dd><%= @ticket.updated_at.strftime("%d-%m-%y %H:%M") %></dd>
						<dt>Estado</dt>	<dd><%= @ticket.status %></dd>
						<dt>Titulo</dt>	<dd><%= @ticket.title %></dd>
						<dt>Descripcion</dt>	<dd><%= @ticket.description %></dd>
					</dl>
					<%= link_to t('.userupdate'), '#' , class: "btn btn-success col-md-offset-2" %>
			</div>
			<div class="panel-footer">
				<%= link_to '<span class="pull-left">'.html_safe+t('.userupdate')+'</span>
				<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
				<div class="clearfix"></div>'.html_safe,
				'#'%>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="chat-panel panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-comments fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">Ticket</div>
						<div>Folio #<%= @ticket.id %></div>
					</div>
				</div>
			</div>
			<div class="panel-body ">
				<% @ticket.replies.each do |reply| %>
					<ul class="chat">
						<% if reply.user.account == 'C' %>
							<li class="left clearfix">
						    <span class="chat-img pull-left">
						      <i class="fa fa-user-circle fa-3x"></i>
						    </span>
						    <div class="chat-body clearfix">
					        <div class="header">
					          <strong class="primary-font"><%= reply.user.name %></strong>
					          <small class="text-muted"><i class="fa fa-clock-o"></i>  <%= reply.updated_at.strftime("%d-%m-%y %H:%M") %></small>
					        </div>
						      <p><%= reply.description %></p>
						    </div>
							</li>
						<% else %>
						  <li class="right clearfix">
					      <span class="chat-img pull-right">
										  <i class="fa fa-support fa-3x text-danger"></i>
					      </span>
					      <div class="chat-body clearfix">
					        <div class="header">
					          <small class=" text-muted"><i class="fa fa-clock-o fa-fw"></i></i> <%= reply.updated_at.strftime("%d-%m-%y %H:%M") %></small>
					          <strong class="pull-right primary-font"><%= reply.user.name %></strong>
					        </div>
					        <p><%= reply.description %></p>
					      </div>
						  </li>
						<% end %>
					</ul>
				<% end %>
			</div>
				<div class="panel-footer">
					<% if @ticket.status != "Cerrado" %>
						<%= form_for([@ticket, @ticket.replies.build] ) do |f| %>
							<div class="input-group">
								<%= f.text_area :description, class: "form-control", size: "3", placeholder: t('.Typeyourmessagehere...') %>
                <span class="input-group-btn">
									<%= f.submit "Agregar Comentario", class: "btn btn-success", id: "btn-chat" %> 
                </span>
              </div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

