<div class="jumbotron">
	<h1> Tickets</h1>
	<div class="panel panel-primary">
		<div class="panel-heading">
    	<h3 class="panel-title">Tickets Respondidos:</h3>
  	</div>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th style="width: 8%">Folio</th>
					<th style="width: 15%">Usuario</th>
					<th style="width: 18%">Titulo</th>
					<th style="width: 25%">Descripcion</th>
					<th style="width: 12%">Creado</th>
					<th style="width: 12%">Actualizado</th>
					<th style="width: 10%">Estado</th>
				</tr>
			</thead>
			<tbody>
				<% @tickets.where.not(status: "En Espera").each do |ticket| %>
					<tr>
						<td><%=link_to ticket.id, ticket %></td>
						<td><%= ticket.user.name %></td>
						<td><%= ticket.title %></td>
						<td><%= ticket.description.truncate(35)%></td>
						<td><%= ticket.created_at.strftime("%d-%m-%y %H:%M") %></td>
						<td><%= ticket.updated_at.strftime("%d-%m-%y %H:%M") %></td>
						<td><%= ticket.status %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<%= render 'ticketpending' %>
</div>