<footer class="footer">
	<small>
		<%= link_to "Ticket 2017", root_path %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Registro", registro_path %></li>
			<li><%= link_to "Iniciar Sesion", login_path %></li>
			<li><%= link_to "Cerrar Sesion", logout_path %></li>
			<li><%= link_to "Admin", administracion_path %></li>
			<li><%= link_to "soporte", soporte_path %></li>
			<li><%= link_to "cliente", cliente_path %></li>
			<li><%= link_to "Contacto", contacto_path %></li>
		</ul>
	</nav>
</footer>