<% flash.each do |message_type, message| %>
	<div class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog">
	    <div class="modal-body alert alert-<%= message_type %>">
	    	<i class="fa fa-info-circle fa-fw "></i><%= message %>
	    	<button type="button" class="btn btn-<%= message_type %> " data-dismiss="modal"  data-target="#myModal">Close</button>
	    </div>
	  </div>
	</div>
<% end %>
