<nav class="navbar navbar-default navbar-fixed-top " role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
			<span class="sr-only">Toggle navigation</span>
    		<span class="icon-bar"></span>
          	<span class="icon-bar"></span>
              <span class="icon-bar"></span>
		</button>
		<%= link_to "Ticket", root_path, class: "navbar-brand" %>
	</div>
	<ul class="nav navbar-top-links navbar-right ">
		<% if params[:locale] == 'es' %> 
		<li><%= link_to url_for( :locale => 'en' ) do %> <span class="fa fa-language fa-fw fa-lg"></span>ES<% end %></li>
		<% else %>
		<li><%= link_to url_for( :locale => 'es' ) do %> <span class="fa fa-language fa-fw fa-lg"></span>EN<% end %></li>
		<% end %>
		<% if logged_in? %>
		<li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
			<ul class="dropdown-menu dropdown-alerts">
	            <li><a href="#"><div><i class="fa fa-comment fa-fw"></i>Ticket #2356 New Reply<span class="pull-right text-muted small">4 minutes ago</span></div></a></li>
	            <li class="divider"></li>
	            <li><a href="#"><div><i class="fa fa-twitter fa-fw"></i> Ticket #2356 New Reply<span class="pull-right text-muted small">12 minutes ago</span></div></a></li>
	        </ul>
	    </li>
	    <li class="dropdown">
	    	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
			<ul class="dropdown-menu dropdown-user">
				<li><%= link_to '<i class="fa fa-id-card fa-fw"></i>Profile'.html_safe, user_path(current_user) %></li>
				<li class="divider"></li>
				<li><%= link_to '<i class="fa fa-sign-out fa-fw"></i>Logout'.html_safe, logout_path %></li>
			</ul>
		</li>
	</ul>
	<!-- navbar sidebar -->
	<%= render 'layouts/sidebar' %>
	<% else %>
	<li><%= link_to '<i class="fa fa-sign-in fa-fw fa-lg"></i>'.html_safe+t('.login'), login_path %></li> 
</ul>
<% end %>
</nav>
