	<div class="navbar-default sidebar " role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav in" id="side-menu">
				<li><%= link_to '<i class="fa fa-dashboard fa-fw"></i>'.html_safe+t('.dashboard'), root_path %></li>
				<% if is_admin %>
					<li><%= link_to '<i class="fa fa-dashboard fa-fw"></i>'.html_safe+t('.userlist'), usuarios_path %></li> 
					<li><%= link_to '<i class="fa fa-dashboard fa-fw"></i>'.html_safe+t('.usernew'), registro_path %></li>  
				<% end %>

					<li><%= link_to '<i class="fa fa-list fa-fw"></i>'.html_safe+t('.ticketlist'), tickets_path %></li>      
					<li><%= link_to '<i class="fa fa-ticket fa-fw"></i>'.html_safe+t('.ticketnew'), ingresoticket_path %></li> 
					<li><%= link_to '<i class="fa fa-dashboard fa-fw"></i>'.html_safe+t('.profile'), edit_user_path(current_user) %></li>  
					<li><%= link_to '<i class="fa fa-phone fa-fw"></i>'.html_safe+t('.contactus'), contacto_path %></li>
			</ul>
		</div>
	</div>