<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">
  <title>
    <%= content_for?(:title) ? yield(:title) : "Ticket" %>
  </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <div id="wrapper">
      <%= render 'layouts/navbar' %>
    </div>
    <div id="page-wrapper">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  <% else %>
    <div id="wrapper">
      <%= render 'layouts/navbar' %>
    </div>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  <% end %>
</body>
<%# render 'layouts/footer' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= content_for?(:extra_scripts) ? yield(:extra_scripts) : nil %>
</html>