<% if logged_in? %>
	<li class="dropdown active">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name+" ("+current_user.email+")" %> <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><%= link_to t('.ticketlist'), tickets_path %></li>
			<li><%= link_to t('.ticketnew'), ingresoticket_path %></li>
		<%if is_admin %>
			<li role="separator" class="divider"></li>
			<li><%= link_to t('.userlist'), usuarios_path %></li>
			<li><%= link_to t('.usernew'), registro_path %></li>
		<% elsif is_support %>
			<li role="separator" class="divider"></li>
			<li><%= link_to t('.usernew'), registro_path %></li>			
		<% end %>
			<li role="separator" class="divider"></li>
			<li><%= link_to t('.profile'), edit_user_path(current_user) %></li>
			<li role="separator" class="divider"></li>
			<li><%= link_to t('.logout'), logout_path %></li>
		</ul>
	</li>
<% else %>
	
	<li class="active"><%= link_to t('.login'), login_path %></li>
<% end %>